#!/usr/bin/env ansible-playbook
---
- hosts: all
  become: True
  become_method: sudo
  connection: ssh
  vars:
    color: brown

  tasks:
    - ansible.builtin.debug:
        msg: rhel7 to rhel 8
    - import_tasks: ../task/01-preparing-rhel7-for-upgrade.yml
    - import_tasks: ../task/02-update-os.yml
    - import_tasks: ../task/03-install-leapp.yml
    - import_tasks: ../task/04-leapp-audit.yml
    - import_tasks: ../task/05-install.yml
    - import_tasks: ../task/06-CheckPostUpgrade.yml